header,
main,
footer {
    padding-left: 300px;
}

.titulo,
.titulo-modal {
    margin-bottom: 25px;
}

.representacao {
    margin-top: 25px;
}

.campo-matriz-div {
    width: 30px;
    display: inline-block !important;
    margin: 10px;
}

.card-content {
    padding: 0;
}

#soma,
#multiplicacao {
    display: none;
}

.tabs .tab a {
    color: #26a69a;
}

/*Black color to the text*/

.tabs .tab a:hover {
    color: #26a69a;
}

/*Text color on hover*/

.tabs .tab a.active {
    color: #26a69a;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #26a69a;
}

/*Color of underline*/

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}